#root {
  background-color: #fbfcff;
  margin: 0;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.country-detail-container {
  background-color: #ffffff;
  margin: 1rem;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20%;
  box-shadow: 1px 1px rgb(240, 235, 235);
}

.country {
  padding: 2rem;
}

.country > p {
  margin: 4px 0;
}

span {
  font-weight: 500;
}

h3 {
  margin-top: 1px;;
}

.searchBar-container {
  flex-basis: 100%;
  margin: 2rem;
}

.searchBar-inputField {
  padding: 15px;
  width: 30rem;
}
